@import "../variables"
@import "../app.component.sass"


.watch-view
  height: 100vh
  overflow-y: overlay
  ul li h2
    &:hover
      cursor: pointer
      color: $background-color


h2
  color: #000
  font-size: 2rem

.container li
  width: 35%
  height: 215px
  float: left


