@import "../variables"

h1
  font-size: $h1-size
  color: $font-color
  font-family: $main-font

h2
  font-size: $h2-size
  font-family: $main-font
  color: $font-color

div
  background-color: $background-color



