@import "../variables"
@import "../app.component.sass"


.watch-view
  height: 100vh
  overflow-y: overlay
  ul li h2
    &:hover
      cursor: pointer
      color: $background-color


h2
  color: #000
  font-size: 2rem

.container li
  width: 15%
  height: 215px
  float: left
  background-color: #FFFFFF
  box-shadow: 6px 6px 50px -16px rgba(0,0,0,0.75)


