@import "../variables"
@import "../app.component.sass"

.video-item-view
  background-image: linear-gradient(#f1912c, #31b589 )
  // height: 100%
  padding: 3%

.container
  display: block
  // position: absolute
  top: 5%
  left: 5%
  width: 80%
