<div class="container">
  <div class="read-view">
    <h1>Lesen</h1>
    <div class="box-container">
    <ul>
      <li (click)="onSelect( text )" *ngFor="let text of results" [routerLink]="['item', text.id]">
        <div class="article-styles">
        <h2>{{text.title}}</h2>
        </div>
        <h3>{{text.id}}</h3>
        <div class="ribbon"></div>
      </li>


      <li *ngFor="let doc of results" [routerLink]="['item', doc.title]">
        <h2>{{doc.title}}</h2>

      </li>
    </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
