@import "../variables"
@import "../app.component.sass"


.read-view
  background-image: linear-gradient(#29B6F6, #f44336 )
  height: 100vh
  ul li h2
    font-size: 2rem
    color: #000

    &:hover
      cursor: pointer
      color: $background-color



