@import "../variables"
@import "../app.component.sass"

<<<<<<< HEAD
div
  background: linear-gradient(-45deg, #05FDB0, #5E0174)
=======
.read-view
  background-image: linear-gradient(#29B6F6, #f44336 )
  height: 90vh
  ul li h2
    &:hover
      cursor: pointer
      color: $background-color
>>>>>>> fcb93c0c6dafbb0752665ec998b4afe8d368123e
