@import "../variables"
@import "../app.component.sass"


.read-view
  height: 100vh
  ul li h2
    font-size: 2rem
    color: #000



    &:hover
      cursor: pointer
      color: $background-color

.container li

  height: 320px
  float: left
  background-color: #FFFFFF
  border-bottom-right-radius: 2em
  border-top-right-radius: 2em

.article-styles
  width: 19vw
  height: 30vh
  h2
  overflow: hidden

.ribbon
  width: 1vw
  height: 2vh
  margin-left: 3%
  background-color: #FFFFFF
  margin-top: 25%





