@import "variables"

.routeContainer
  position: relative
.routeContainer
  > *
    display: block

*
  padding: 0px
  margin: 0px

.first-view
  height: 100vh
  p
    width: 45%
    text-align: right
    float: right
    padding-right: 15%
.navigation
  z-index: 1
  display: block
  position: fixed
  bottom: 0
  right: 0
