<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hallo {{ user }}
  </h1>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
  sed diam nonumy eirmod tempor invidunt ut labore et dolore
  magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
  duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
  sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
  consetetur sadipscing elitr,
</p>
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
<div>
  <input type="text" placeholder="Username" [(ngModel)]="form.username" />
  <input type="text" placeholder="First Name" [(ngModel)]="form.firstname" />
  <input type="text" placeholder="Last Name" [(ngModel)]="form.lastname" />
  <button (click)="insert()">Add</button>
  <br />
  <table class="table table-striped">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.firstname }}</td>
      <td>{{ person.lastname }}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<app-hear></app-hear>
<app-watch></app-watch>
<app-read></app-read>
