<ul>
  <li *ngFor="let h of results">{{h.title}}</li>
</ul>

<!-- router navigation -->
<ul class="navigation">
  <li class="menu-icon-home"><a routerLink="/home">
     <img class="srh-logo" src="../assets/srh.png" alt="">
  </a></li>
  <li class="menu-icon-document"><a routerLink="/read/document">
    <img src="../assets/icons/artikel.svg" alt="">
  </a></li>
  <li class="menu-icon-audio"><a routerLink="/listen/audio">
     <img src="../assets/icons/musik.svg" alt="">
  </a></li>
  <li class="menu-icon-video"><a routerLink="/video">
     <img src="../assets/icons/videos.svg" alt="">
  </a></li>
  <!--
  <li class="menu-icon-user"><a routerLink="/user/list">Benutzer</a></li>
  -->
</ul>

<div id="page" class="routeContainer" [@routeAnimation]="getDepth(myOutlet)">
  <router-outlet #myOutlet="outlet"></router-outlet>
</div>
