@import "../variables"
@import "../app.component.sass"

.audio-item-view
  height: 100vh
  padding: 3%

  audio
    margin: auto
    display: block

.container
  //padding: 15%
  display: block
  position: absolute
  top: 5%
  left: 5%
  width: 80%
