@import "../variables"
@import "../app.component.sass"

.first-view
  //background-color: $background-color



.first-view
  height: 100vh
  p
    width: 45%
    text-align: left



.container
  //border: aqua 1px dashed
  //padding: 30px
h2, h3
  color: blueviolet
  font-family: sans-serif
