<div class="container">
  <div class="first-view">
    <h1>
      Hallo {{ user }}
    </h1>
    <p>
      Da die meisten Eltern kontrollieren wollen welche Medien ihre Kinder konsumieren bieten wir natürlich die Möglichkeit die Inhalte vorher einzusehen. Hier findet Ihr eine Auflistung der Inhalte sortiert nach Medienart. Ihr könnt dieses Vorgang natürlich auch überspringen.
    </p>
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>

  <!-- das macht jetzt der router -->
<!--<app-hear></app-hear>
<app-watch></app-watch>
<app-read></app-read>
-->

</div>

