
<div class="container">
  <div class="listen-view">
    <h1>Hörspiele und Hörbücher</h1>
    <div class="box-container">
    <ul>
      <li (click)="onSelect(audio)" *ngFor="let audio of results" [routerLink]="['item', audio.id]">
        <div class="cd-cover">
        <h2>{{audio.title}}</h2>
        </div>
        <h3>{{audio.id}}</h3>
        <div class="cd-1"></div>
        <div class="cd-2"></div>
        <div class="cd-3"></div>
      </li>
      <!--
      <li *ngFor="let audio of results" [routerLink]="['item', audio.title]">
        <h2>{{audio.title}}</h2>
      </li>
      -->
    </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
