@import "../variables"
@import "../app.component.sass"

.container li
  margin: 1%
  width: 12%


.listen-view
  height: 100vh
  overflow-y: overlay
  li
    display: inline-block
    position: relative
    float: left
    width: 100px
  ul li h2
    font-size: 1.2rem
    color: #000
    &:hover
      cursor: pointer
      color: $background-color

.container li
  height: 25vh
  width: 20vw
  background-color: #FFFFFF
  margin-right: 3%
  z-index: 10
  box-shadow: 6px 6px 50px -16px rgba(0,0,0,0.75)


.cd-cover
  overflow: hidden


.cd
  background-color: #FFFFFF
  height: 21vh
  width: 16vw
  border-radius: 56%
  margin-top: -11vh
  margin-left: 9vw

