@import "../variables"
@import "../app.component.sass"

.listen-view
  background-image: linear-gradient(#607D8B, #43A047 )
  height: 90vh
  ul li h2
    &:hover
      cursor: pointer
      color: $background-color

